ingressController:
  enabled: false  # Cilium will not manage ingress; you're using nginx

cni:
  install: true
  chainingMode: none
  confPath: /etc/cni/net.d
  binPath: /opt/cni/bin

# Configure the kube-proxy replacement in Cilium BPF datapath
# Valid options: "true", "false", "partial", "strict"
kubeProxyReplacement: "{{ cilium_kubeproxy_replacement }}"

hubble:
  ui:
    enabled: {{ cilium_hubble_ui_enabled | lower }}
    ingress:
      enabled: {{ cilium_hubble_ui_ingress_enabled | lower }}
      className: "{{ cilium_ingress_class }}"
      ingressClassName: "{{ cilium_ingress_class }}"
      annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
      hosts:
        - "{{ cilium_ingress_host }}"
      path: /
      pathType: Prefix
      tls: []  # TLS handled externally

  relay:
    enabled: true

debug:
  enabled: {{ cilium_debug_enabled | lower }}
  verbose: "{{ cilium_debug_verbose }}"
