[ req ]
default_bits        = 2048
default_keyfile     = {{ tls_key_file }}
distinguished_name  = req_distinguished_name
req_extensions      = v3_req
prompt              = no

[ req_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = {{ tls_subject.country }}
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = {{ tls_subject.state }}
localityName        = Locality Name (e.g., city)
localityName_default = {{ tls_subject.locality }}
organizationName    = Organization Name (e.g., company)
organizationName_default = {{ tls_subject.organization }}
organizationalUnitName = Organizational Unit Name (e.g., section)
organizationalUnitName_default = {{ tls_subject.organizational_unit }}
commonName          = Common Name (e.g., fully qualified host name)
commonName_default  = {{ tls_subject.common_name }}
commonName_max      = 64

[ v3_req ]
keyUsage = keyEncipherment, dataEncipherment
basicConstraints = CA:FALSE
subjectAltName = @alt_names

[ alt_names ]
{% for name in alt_names %}
DNS.{{ loop.index }} = {{ name }}
{% endfor %}
