<?xml version="1.0" encoding="utf-8"?>
<ipset type="hash:net">
  <short>haproxy</short>
{%- for host in groups['haproxy'] %}
  <entry>{{ hostvars[host]['ansible_default_ipv4']['address'] }}</entry>
{% endfor -%}
</ipset>
