# https://github.com/kyverno/kyverno/tree/main/charts

## https://github.com/kyverno/kyverno/blob/main/charts/kyverno/values.yaml


# permissions to check argocd applications
# so that the policy: kyverno-prevent-default-project.yaml  - works
reportsController:
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - argoproj.io
          resources:
            - applications
          verbs:
            - get
            - list
            - watch


admissionController:
  autoscaling:
    # -- Enable horizontal pod autoscaling
    enabled: {{ kyverno_autoscaling }}
