# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml

global:
  domain: {{ argocd_hostname }}
  image:
    tag: "{{ argocd_version }}"
server:
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: "/"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"

    ingressClassName: "nginx"
    hostname: "{{ argocd_hostname }}" 
    path: /
    pathType: Prefix
    tls: false
  service:
    type: ClusterIP
    servicePortHttp: 80
    # -- Server service https port
    servicePortHttps: 443
    # -- Server service http port name, can be used to route traffic via istio
    servicePortHttpName: http
    # -- Server service https port name, can be used to route traffic via istio
    servicePortHttpsName: https
configs:
  params:
    server.insecure: true

  cm:
    # disable basic argocd auth
    admin.enabled: false

    # OIDC config
    oidc.config: |
      name: Keycloak
      issuer: {{ argocd_oidc_issuer }}
      clientID: {{ argocd_oidc_client }}
      clientSecret: {{ argocd_oidc_clientSecret }}
      requestedIDTokenClaims:
        groups:
          essential: true
      requestedScopes:
        - openid
        - profile
        - email
  rbac:
    create: true
    policy.default: role:unauthenticated
    policy.csv: |
      g, {{ argocd_admin_role }}, role:admin
      
      # for readonly we will have a new group
      # g, everyone, role:readonly

      g, {{ argocd_dev_role }}, role:project-admins


      # Full permissions to manage applications and projects
      p, role:project-admins, applications, *, *, allow
      p, role:project-admins, projects, *, *, allow

      # Full permissions to manage repositories
      p, role:project-admins, repositories, get, *, allow
      p, role:project-admins, repositories, list, *, allow
      # p, role:project-admins, repositories, create, *, allow
      # p, role:project-admins, repositories, update, *, allow

      # Full permissions to manage clusters (destinations for applications)
      p, role:project-admins, clusters, get, *, allow
      p, role:project-admins, clusters, list, *, allow
      # p, role:project-admins, clusters, create, *, allow
      # p, role:project-admins, clusters, update, *, allow

      # Restrict access to the "default" project
      p, role:project-admins, projects, get, default, allow
      p, role:project-admins, projects, *, default, deny

    # -- OIDC scopes to examine during rbac enforcement (in addition to `sub` scope).
    # The scope value can be a string, or a list of strings.
    scopes: "{{ argocd_oidc_scopes }}"

  # test..
  repositories:
    - url: https://github.com/tugraz-rdm/custom-docker-images.git
      name: custom-docker-images
      type: git
      auth:
        # Specify authentication method here
        githubApp:
          appId: "2285784"
          privateKeySecret:
            name: github-app-private-key
            key: private-key
          installationId: "Iv23lij3yuF1Iw1CRWh8"

##################################
##### ArgoCD Vault Plugin (ACVP)#
##################################
repoServer:
  automountServiceAccountToken: true
  initContainers:
    - name: download-tools
      image: registry.access.redhat.com/ubi8
      env:
        - name: AVP_VERSION
          value: "1.18.1"
      command: [sh, -c]
      args:
        - >-
          curl -L https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v$(AVP_VERSION)/argocd-vault-plugin_$(AVP_VERSION)_linux_amd64 -o argocd-vault-plugin &&
          chmod +x argocd-vault-plugin &&
          mv argocd-vault-plugin /custom-tools/
      volumeMounts:
        - name: custom-tools
          mountPath: /custom-tools

  extraContainers:
    - name: avp-kustomize
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd:{{ argocd_version }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      envFrom:
        - secretRef:
            name: argocd-vault-plugin-credentials
      volumeMounts:
        - name: var-files
          mountPath: /var/run/argocd
        - name: plugins
          mountPath: /home/argocd/cmp-server/plugins
        - name: cmp-tmp
          mountPath: /tmp
        - name: cmp-plugin
          mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-kustomize.yaml
        - name: custom-tools
          mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin

    - name: avp
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd:{{ argocd_version }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      envFrom:
        - secretRef:
            name: argocd-vault-plugin-credentials
      volumeMounts:
        - name: var-files
          mountPath: /var/run/argocd
        - name: plugins
          mountPath: /home/argocd/cmp-server/plugins
        - name: cmp-tmp
          mountPath: /tmp
        - name: cmp-plugin
          mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp.yaml
        - name: custom-tools
          mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin

    - name: avp-helm-inline-values
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd:{{ argocd_version }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      envFrom:
        - secretRef:
            name: argocd-vault-plugin-credentials
      volumeMounts:
        - name: var-files
          mountPath: /var/run/argocd
        - name: plugins
          mountPath: /home/argocd/cmp-server/plugins
        - name: cmp-tmp
          mountPath: /tmp
        - name: cmp-plugin
          mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-helm-inline-values.yaml
        - name: custom-tools
          mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin

    - name: avp-helm-files
      command: [/var/run/argocd/argocd-cmp-server]
      image: mbwali/argocd-avp:{{ argocd_version }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      envFrom:
        - secretRef:
            name: argocd-vault-plugin-credentials
      env:
        - name: GITHUB_APP_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: {{ argocd_github_app_secret }}
              key: githubAppPrivateKey
        - name: GITHUB_INSTALLATION_ID
          valueFrom:
            secretKeyRef:
              name: {{ argocd_github_app_secret }}
              key: githubAppInstallationID
        - name: GITHUB_APP_ID
          valueFrom:
            secretKeyRef:
              name: {{ argocd_github_app_secret }}
              key: githubAppID
      volumeMounts:
        - name: var-files
          mountPath: /var/run/argocd
        - name: plugins
          mountPath: /home/argocd/cmp-server/plugins
        - name: cmp-tmp
          mountPath: /tmp
        - name: cmp-plugin
          mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-helm-files.yaml
        - name: custom-tools
          mountPath: /usr/local/bin/argocd-vault-plugin
          subPath: argocd-vault-plugin

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: cmp-plugin
      configMap:
        name: cmp-plugin
    - name: cmp-tmp
      emptyDir: {}
