# https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml

controller:
  hostNetwork: false
  kind: Deployment
  service:
    type: {{ ingress_nginx_service_type }}
{% if ingress_nginx_service_type == "NodePort" %}
    nodePorts:
      http: {{ ingress_nginx_node_port_http }}
      https: {{ ingress_nginx_node_port_https }}
{% endif %}