# https://gitlab.com/gitlab-org/charts/gitlab-runner/-/blob/main/values.yaml?ref_type=heads


rbac:
  create: true  # this will create a SA `gitlab-runner`
  clusterWideAccess: false # ensures Helm creates a Role (namespace-scoped) instead of a ClusterRole (cluster-scoped).
  rules:
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["create", "get", "list", "watch", "delete"]
    - apiGroups: [""]
      resources: ["secrets"]
      verbs: ["get", "create", "update", "delete"]
    # - apiGroups: [""] # interactive attach or exec
    #   resources: ["pods/attach", "pods/exec"]
    #   verbs: ["create", "get"]

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  privileged: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: RuntimeDefault


gitlabUrl: "{{ gitlab_runner_url }}"


## The Runner Token for adding new Runners to the GitLab Server. This must
## be retrieved from your GitLab instance. It is the token of an already registered runner.
## ref: (we don't have docs for that yet, but we want to use an existing token)
##
runnerToken: "{{ gitlab_runner_a_token }}"
#


## Unregister all runners before termination
##
## Updating the runner's chart version or configuration will cause the runner container
## to be terminated and created again. This may cause your Gitlab instance to reference
## non-existant runners. Un-registering the runner before termination mitigates this issue.
## ref: https://docs.gitlab.com/runner/commands/index.html#gitlab-runner-unregister
##
## This property ensures that all the Runners present in the local config.toml are unregistered when the chart is uninstalled
## - If the token is prefixed with `glrt-` (meaning the runner was created in the UI or API),
##   the unregisterRunners property deletes the runner manager, not the runner.
##   The runner manager is identified by the runner and the machine that contains the config.toml.
unregisterRunners: true


## Configuration for the Pods that the runner launches for each new job
##
runners:

  # # Shell EXECUTER
  # name: "shell-runner"
  # executor: "shell"
  # config: |
  #   [[runners]]
  #     name = "non-k8s-shell-runner"
  #     executor = "shell"
  #     shell = "bash"
  #     [runners.custom_build_dir]
  #       path = "/tmp/builds"

  # # Docker EXECUTER
  # name: "docker-runner"
  # executor: "docker"
  # config: |
  #   [[runners]]
  #     name = "docker-runner"
  #     executor = "docker"
  #     [runners.docker]
  #       image = "alpine:latest"
  #       privileged = false
  #       disable_cache = false

  # kubernetes EXECUTER
  # https://docs.gitlab.com/runner/executors/kubernetes/
  executor: kubernetes
  config: |
    [[runners]]
      [runners.kubernetes]
        namespace = "gitlab-runner"
        image = "alpine"
        [runners.kubernetes.pod_security_context]
          run_as_non_root = true
          seccomp_profile = "RuntimeDefault"
        [runners.kubernetes.build_container_security_context]
          run_as_user = 1000
          run_as_group = 1000
          allow_privilege_escalation = false
          seccomp_profile = "RuntimeDefault"
          [runners.kubernetes.build_container_security_context.capabilities]
            drop = ["ALL"]
        [runners.kubernetes.helper_container_security_context]
          run_as_user = 1000
          run_as_group = 1000
          allow_privilege_escalation = false
          seccomp_profile = "RuntimeDefault"
          [runners.kubernetes.helper_container_security_context.capabilities]
            drop = ["ALL"]
        [runners.kubernetes.init_permissions_container_security_context]
          run_as_user = 1000
          run_as_group = 1000
          allow_privilege_escalation = false
          seccomp_profile = "RuntimeDefault"
          [runners.kubernetes.init_permissions_container_security_context.capabilities]
            drop = ["ALL"]
        [runners.kubernetes.service_container_security_context]
          run_as_user = 1000
          run_as_group = 1000
          allow_privilege_escalation = false
          seccomp_profile = "RuntimeDefault"
          [runners.kubernetes.service_container_security_context.capabilities]
            drop = ["ALL"]
        [runners.kubernetes.container_security_context]
          seccomp_profile = "RuntimeDefault"

## Configure resource requests and limits
## ref: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
##
resources:
  limits:
    memory: 256Mi
    cpu: 200m
    ephemeral-storage: 512Mi
  requests:
    memory: 128Mi
    cpu: 100m
    ephemeral-storage: 256Mi
